/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --gap: 10px;
}

/* Utilitys */
.container{
    width: 80%;
    margin: 0 auto;
    max-width: 900px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}
.col{
    width: calc((100% - (var(--gap) * 3)) / 3 )
}
/* Fine utilitys */

.header{
    text-align: center;
    padding: 40px;
    background-image: url(../img/wall.png);
}
body{
    background-image: url(../img/cork.png);
}
.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    margin-top: 30px;
    padding: 30px 15px;
    position: relative;
}
.card-image{
    background-color: green;
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}
.card-image img{
    width: 100%;
}
.card-text{
    height: 100px;
}
.pin{
    position: absolute;
    top: -10px;
}